* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.margin {
    margin: 0px 20% 0px 20%;
}

.headerTopBG {
    background-color: aquamarine;
    height: 60px;
}

.headerTop {
    display: flex;
    align-items: center;
    height: 60px;

}

.NavContainer {
    display: flex;
    background-color: darkgoldenrod;
    border: 2px dashed black;
    width: 60%;
    justify-content: center;
}

.headerTopItem {
    border: 2px dashed black;
    background-color: darkgoldenrod;
    flex-grow: 1;
    padding: 10px;
}

.navitem {
    padding: 10px;
}

.login {
    text-align: right;
}

.headerBotBG{
    background-color: blue;
    height: 500px;
}
 .headerBot {
    height: 500px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
 
 .HeaderBotBox {
    background-color: rgb(248, 139, 234);
    height: 350px;
    width: 80%;
    display: inline-block;
    
 }
 .section {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.sectionImg {
    height: 500px;
    width: 60%;
    background-color: #007fff;
    border: 2px dashed black;

    }

.sectionTxt {
    height: 500px;
    width: 40%;
    background-color: rgb(253, 148, 239);
    border: 2px dashed black;

}

.section2 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.graybg {
    background-color: lightslategray;
}

.MainLastBox {
    background-color: green;
    height: 800px;
    width: 100%;
    display: inline-block;
    border: 2px dashed black;
}

.MainLastSection {
    height: 1000px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.footerBG {
    background-color: rgb(20, 20, 20);
}

.FooterSection {
    height: 600px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.bigsubsection {
    background-color: 	#FA8072;
    height: 550px;
    width: 30%;
    display: inline-block;
    border: 2px dashed black;
}

.subsections {
    background-color: rgb(76, 198, 214);
    height: 550px;
    width: 17.5%;
    display: inline-block;
    border: 2px dashed black;
}